<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile </title>
    </head>
 <link rel="stylesheet" type="text/css" href="/css/navBar.css">
 <link rel="stylesheet" type="text/css" href="/css/Profile.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <div class="topnav">
        <a class="active" href="#Profile">Profile</a>
        <div class="layout">
        <a href="#Skiils">view Skills</a>
        <a href="homePage">Home</a>
        <a href="/auth/logout">LogOUt</a>
    </div>
</div> 
        <form action="/user/edit" method="post" enctype="multipart/form-data">
        <img src="profile.png" alt="playerImage" srcset="">
      <table>
        <tr>
            <th>First Name</th>
        <td><input type="text" class="form-control" placeholder="first name"style="border-radius: 100px" name="fname" id="fname">
        </tr>
        <tr>
            <th>Last Name</th>
        <td><input type="text" class="form-control" placeholder="last name"style="border-radius: 100px" name="lname" id="lname"></td>

        </tr>
        <tr>
            <th>User Name</th>
        <td><input type="text" class="form-control" placeholder="username"style="border-radius: 100px" name="username" id="username"></td>
        </tr>
        <tr>
            <th>Date Of Birth</th>
            <td><input type="text" class="form-control" placeholder="Birth date"style="border-radius: 100px" name="birthDate" id="birthDate"></td>

        </tr>
            <th>Gender</th>
        <td><input type="text" class="form-control" placeholder="Gender"style="border-radius: 100px" name="sex" id="sex"></td>
        </tr>
        <tr>
            <th>Status</th>
            <td><input type="text" class="form-control" placeholder="status"style="border-radius: 100px" name="status" id="status"></td>

        </tr>
        
    </table>
    <button type="submit">submit</button>
</form>
      
</body>         
</html>