<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page </title>
    </head>
 <link rel="stylesheet" type="text/css" href="/css/navBar.css">
<body>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <div class="layout">
        <a href="#Skiils">view Skills</a>
        <a href="Profile">Profile</a>
        <a href="#LogOut">LogOUt</a>
        <img src="" alt="playerImage" srcset="">
    </div>
      </div> 
      <img src="teamBadge.png" alt="Team Badge" srcset="" class= "image">
</body>
</html>