<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link href="/css/login.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   </head>
<body>
  <div class="col-md-4 col-md-offset-4" id="login">
    <section id="inner-wrapper" class="login">
      <article>
        @if(errors.length>0)
        <ul>
          @each(err in errors)
          <li class="list-group-item text-danger">
            {{err}}
          </li>
            
          @endeach
        </ul>
          
        @endif
        <form action="/user/login" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
              <input type="text" class="form-control" placeholder="Username" style="border-radius: 100px" name="username">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"> </i></span>
              <input type="password" class="form-control" placeholder="Password"style="border-radius: 100px" name="password">
            </div>
          </div>
          <div>
              <select v-model="selected" name="selectedType" id="selectedType" style="border-radius: 100px;padding-bottom: 2px; width: 90px; outline: none; cursor: pointer; text-align-last:center;background-color: transparent;color: grey" required>
                      <option disabled>choose who you are  </option>
                      <option value="player" name="typeSelect">player</option>
                      <option value="coach" name="typeSelect">coach</option>
                    </select>
          </div>
            <button type="submit" class="btn" style="position:relative; top: 15px;">Login</button>
            <div class="forgot" style="font-family: Verdana, Geneva, Tahoma, sans-serif; position: relative; top: 10px; text-decoration: none;">
            <a href="/auth/register"id="newUser"style="position:relative; top: 15px;">Create new user ?</a>
            </div>
        </form>
      </article>
    </section></div> 
</body>
</html>