<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link href="/css/login.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   </head>
<body>
  <div class="col-md-4 col-md-offset-4" id="login">
    <section id="inner-wrapper" class="login">
      <article>
        @if(exists.length>0)
        <ul class="list-group">
        @each(exist in exists)
        <li class="list-group-item text-danger">
         - {{exist}}
        </li>
        @endeach
        </ul>
        @endif

        @if(errors.length>0)
          <ul class="list-group">
            @each(err in errors)
            <li class="list-group-item text-danger">
              - {{err}}
            </li>
            @endeach
          </ul>
        @endif
        <form action="/user/register" method="post" enctype="multipart/form-data" onsubmit=" return validation()">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
              <input type="text" class="form-control" placeholder="Username" style="border-radius: 100px" name="username" id="username">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key"> </i></span>
              <input type="password" class="form-control" placeholder="Password"style="border-radius: 100px" name="password" id="password">
              <input type="password" class="form-control" placeholder="confirmpassword"style="border-radius: 100px" id="confirmPassword">

            </div>
          </div>
            <button type="submit" class="btn">SignUP</button>
        </form>
      </article>
    </section></div> 
    <script>
        function validation(){
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirmPassword').value;
            console.log(password);
            console.log(confirmPassword)
            if(password == confirmPassword){return true;}
        return false;   
        }
    </script>
</body>
</html>